:root {
    --bg-color: #26191B;
    --btn-color: #584153;
    --letter-color: #F6ACC8;
    --font-family: 'ZCOOL QingKe HuangYou', cursive;
  }
.container{
    float: left;
    position: relative;
    background: rgba(117, 114, 114, 0.342); 
    padding: 5px;
    margin: 7px;
    margin-left: 40px;
    top: 10px;
    width: 350px;
    height: 300px;
    border-radius: 5px;
    border: solid 1px;
    border-color: var(--letter-color);
    box-shadow: 0px 0px 10px;
    transition: transform 250ms;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container:hover {
    transform: translateY(-5px);
}

.image{
    width: 210px;
    height: 170px;
    margin: 5px;
    float: left;
    border-radius: 5px;
}

.navlink{
    text-decoration: none;
    color:  #FFEBC9;
    font-size: 30px;
    font-family: var(--font-family);
}

.navlink:hover{
    text-decoration: underline;
    
}
.genres{
    color: var(--letter-color);
    font-size: 30px;
    font-family: var(--font-family);
}