:root {
    --bg-color: #26191B;
    --btn-color: #584153;
    --letter-color: #F6ACC8;
    --font-family: 'ZCOOL QingKe HuangYou', cursive;
}

.btnBack{
    background-color: var(--btn-color);
    color: var(--letter-color);
    font-size: 1.25rem;
    text-decoration: none;
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
    font-family: var(--font-family);
    float: left;
    cursor: pointer;
    border: solid 1px;
    border-color: var(--letter-color);
}
.btnBack:hover{
    background-color: var(--letter-color);
    color: var(--btn-color);
}

.general{
    background-color: var(--btn-color);
    width: 100vw;    
    height: 100vh;    
    background-position: center center;    
    background-repeat: no-repeat;    
    background-size: cover;    
    overflow:auto;
    display: flex;
}

.containerDetail{
    color: var(--letter-color);
    font-family: var(--font-family);
    font-size: 25px;
}

.imgDetail{
    float: left;
    width: 300px;
    height: 200px;
    border-radius: 5px;
    padding: 40px;
}