:root {
  --bg-color: #470031;
  --btn-color: #971549;
  --letter-color: #FF9898;
  --font-family: 'ZCOOL QingKe HuangYou', cursive;
}

.home{
  background-color: var(--bg-color);
  width: 100vw;    
  height: 100vh;    
  background-position: center center;    
  background-repeat: no-repeat;    
  background-size: cover;    
  overflow:auto;
}

.nav-link{
  background-color: var(--btn-color);
  color: var(--letter-color);
  font-size: 1.25rem;
  float: left;
  text-decoration: none;
  padding: 10px;
  margin: 5px;
  border-radius: 5px;
  font-family: var(--font-family);
}
.nav-link:hover{
  background-color: var(--letter-color);
  color: var(--btn-color);
}
.btnRefresh{
  background-color: var(--btn-color);
  color: var(--letter-color);
  float: left;
  font-size: 30px;
  border-radius: 5px;
  margin: 13px;
  border: none;
  height: 35px;
}
.btnRefresh:hover{
  background-color: var(--letter-color);
  color: var(--btn-color);
}
select {
  width: 100%;
  min-width: 100px;
  max-width: 150px;
  border-radius:5px;
  padding: 0.25em 0.5em;
  margin: 15px;
  font-size: 1.25rem;
  cursor: pointer;
  line-height: 1.1;
  background-color: var(--btn-color);
  color: var(--letter-color);
  font-family: var(--font-family);
}
select:hover{
  background-color: var(--letter-color);
  color: var(--btn-color);
}

.loading{
  width: 50px;
  height: 70px;
  font-size: 40px;
  color: var(--letter-color);
  position: absolute;
  margin-top: 150px;
  margin-bottom: 150px;
  margin-left: 100px;
  margin-right: 100px;
}


