:root {
  --bg-color: #26191B;
  --btn-color: #584153;
  --letter-color: #F6ACC8;
  --font-family: 'ZCOOL QingKe HuangYou', cursive;
}

ul{
  display: flex;
  justify-content: center;
}

li{
  list-style-type: none;
  display: inline;
  padding-right: 5px;
}


.home{
  background-color: var(--bg-color);
  width: 100vw;    
  height: 100vh;    
  background-position: center center;    
  background-repeat: no-repeat;    
  background-size: cover;    
  overflow:auto;
}

select {
  width: 150px;
  border-radius:5px;
  padding: 5px;
  font-size: 20px;
  cursor: pointer;
  line-height: 1.1;
  background-color: var(--btn-color);
  color: var(--letter-color);
  font-family: var(--font-family);
}
select:hover{
  background-color: var(--letter-color);
  color: var(--btn-color);
}

.loading{
  width: 50px;
  height: 70px;
  font-size: 40px;
  color: var(--letter-color);
  position: absolute;
  margin-top: 150px;
  margin-bottom: 150px;
  margin-left: 100px;
  margin-right: 100px;
}


