:root {
    --bg-color: #26191B;
    --btn-color: #584153;
    --letter-color: #F6ACC8;
    --font-family: 'ZCOOL QingKe HuangYou', cursive;
}

.searchContainer{
    float: left;
    margin-right: 20px;
}

.input{
    font-size: 17px;
    border-radius: 5px;
    padding: 7px;
    height: 15px;
    width: 150px;
}

.btnSubmit{
    background-color: var(--btn-color);
    color: var(--letter-color);
    font-family: var(--font-family);
    font-size: 20px;
    margin-left: 5px;
    border-radius: 5px;
    padding: 5px;
    width: 100px;
    cursor: pointer;
    border: solid 1px;
    border-color: var(--letter-color);
}

.btnSubmit:hover{
    background-color: var(--letter-color);
    color: var(--btn-color);
}