:root {
    --bg-color: #26191B;
    --btn-color: #584153;
    --letter-color: #F6ACC8;
    --font-family: 'ZCOOL QingKe HuangYou', cursive;
}

.searchContainer{
    float: left;
}

.btnSubmit{
    background-color: var(--btn-color);
    color: var(--letter-color);
    font-family: var(--font-family);
    font-size: 20px;
    border-radius: 5px;
    height: 30px;
    cursor: pointer;
    margin: 5px;
}

.btnSubmit:hover{
    background-color: var(--letter-color);
    color: var(--btn-color);
}